<h1> The Planets </h1>

<% for (var i = 0; i < solarSystem.planets.length; i++) { %>
  <p><a href="/planets/<%= i+1 %>"><%= solarSystem.planets[i].name %></a> Size: <%= solarSystem.planets[i].size %></p>
  <% } %>

